@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    
}

.container{
    width: 300px;
    border-radius: 10px;
    background-color: hsl(225, 100%, 98%);
    margin-top: 80px;
    box-shadow: 2px 2px 6px rgb(184, 184, 184);
}

.top{
    width: 300px;
}

.top img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.summary{
    padding: 20px;
    text-align: center;
    
}

.summary h2{
    color: hsl(223, 47%, 23%);
    padding-bottom: 20px;
    font-weight: 900;
}

.summary p{
    color: hsl(224, 23%, 55%);
    font-size: 13px;
}

.pricing{
    display: flex;
    width: 90%;
    background-color: hsl(226, 48%, 95%);
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    font-weight: 900;
    align-items: center;
    justify-content: space-around;
}

.pricing h4{
    font-size: 12px;
    color: hsl(223, 47%, 23%);
    
}

.pricing span{
    color: hsl(224, 23%, 55%);
    font-weight: 500;
}

.pricing a{
    font-size: 12px;
    padding-left: 20px;
}

.pricing a:hover{
color: hsla(244, 88%, 43%, 0.658);
}

.btn {
    display: block;
width: 90%; 
margin: 20px auto;
background-color: hsl(245, 75%, 52%);
color: hsl(225, 100%, 98%);
border: none;
padding: 10px;
text-align: center;
border-radius: 10px;
font-weight: 800;
}

.btn:hover{
    cursor: pointer;
    background-color: hsla(244, 88%, 43%, 0.658);
}

.cancel a{
    text-decoration: none;
    color: hsl(224, 23%, 55%);
    font-weight: bold;
}
.cancel{
    
    text-align: center;
    padding-bottom: 20px;
}

.cancel a:hover{
    color: hsl(223, 47%, 23%);
}



/* Media query for screens up to 375px wide (Mobile) */
@media (max-width: 375px) {
    body {
        background-image: url(/images/pattern-background-mobile.svg); 
    }
    
    .container {
        width: 410px; /
        border-radius: 1rem;
    overflow: hidden;
    }
    
    .top img {
        border-radius: 10px 10px 0 0;
         
    }
    
    .summary {
        padding: 10px; 
    }
    
    .pricing {
        
        display: flex; 
        align-items: center;
        padding: 15px; 
    }
    
    .btn {
        width: 80%; 
        margin: 10px auto; 
    }
    
    .cancel {
        padding-bottom: 10px; 
    }
}
